{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Decoder {% endblock title %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="form-group">
            <label for="url"> Binary:</label>
            <textarea class="form-control" rows="10" id="hashtext"></textarea>
        </div>
        <div>
        <button type="submit" class="btn btn-default btn-md" style="margin: 5px;" id="md5encoder">MD5 Encode</button>
        <button type="submit" class="btn btn-default btn-md" style="margin: 0px;" id="sha1encoder">SHA1 Encode</button>
            <button type="submit" class="btn btn-default btn-md" style="margin: 0px;" id="sha256encoder">SHA256(32bit) Encode</button>
            <button type="submit" class="btn btn-default btn-md" style="margin: 0px;" id="sha512encoder">SHA512(32bit) Encode</button>
            <button type="submit" class="btn btn-default btn-md" style="margin: 0px;" id="sha3encoder">SHA3 Encode</button>

        </div>

        <div class="form-group" style="border-top-width: 10px;">
            <label for="url"> Output:</label>
            <textarea class="form-control" rows="10" id="hashresult"></textarea>
        </div>
    </div>

    </div>

{% endblock content %}
{% block scripts %}
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha512.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js"></script>
<script type="text/javascript">

$("#md5encoder").click(function () {
    var input = $("#hashtext").val().trim();
    $('#hashresult').text(CryptoJS.MD5(input));
});

$("#sha1encoder").click(function () {
    var input = $("#hashtext").val().trim();
    $('#hashresult').text(CryptoJS.SHA1(input));
});

$("#sha256encoder").click(function () {
    var input = $("#hashtext").val().trim();
    $('#hashresult').text(CryptoJS.SHA256(input));
});

$("#sha512encoder").click(function () {
    var input = $("#hashtext").val().trim();
    $('#hashresult').text(CryptoJS.SHA512(input));
});

$("#sha3encoder").click(function () {
    var input = $("#hashtext").val().trim();
    $('#hashresult').text(CryptoJS.SHA3(input));
});

</script>
{% endblock scripts%}